.b-email-trap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.b-email-trap__slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.b-email-trap__slide_type_success {
  display: none;
}
.b-email-trap__success {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 300px;
  margin-top: -100px;
  margin-left: -150px;
}
.b-email-trap__success h3,
.b-email-trap__success p {
  color: #FFF;
}
.b-email-trap__success h3 {
  font-weight: lighter;
  font-size: 20px;
}
.b-email-trap__form {
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 50%;
  height: 100px;
  margin-top: -30px;
  margin-left: -150px;
}
.b-email-trap__item {
  margin-bottom: 15px;
}
.b-email-trap__item input,
.b-email-trap__item textarea,
.b-email-trap__item button {
  border: 0;
}
.b-email-trap__input_type_email,
.b-email-trap__input_type_submit {
  padding: 10px 20px;
  width: 300px;
  border: 0;
  display: block;
  border-radius: 4px;
}
.b-email-trap__input_type_email {
  font-size: 20px;
  margin-bottom: 10px;
}
.b-email-trap__input_type_email:focus {
  outline: 0;
  box-shadow: 0 0 20px #00d3ff;
}
.b-email-trap__input_type_submit {
  background-color: #5c8d17;
  color: #FFF;
  width: 340px;
}
.b-email-trap__input_type_description {
  margin-top: 10px;
  text-align: right;
  font-size: 11px;
  color: #FFF;
}
.b-email-trap__stay-tuned {
  display: block;
  position: absolute;
  text-indent: -9999px;
  top: -90px;
  right: -70px;
  width: 239px;
  height: 150px;
  background-position: -160px 0;
}
.b-email-trap__type_description {
  color: #FFF;
  font-size: 11px;
  text-align: right;
}
