/**
 * Header nav
 */
.b-header {

  .b-nav-item {
    display: inline-block;
    background-color: rgba(0,0,0, 0.2);
    margin-left: 1em;
    padding: 2px 10px;
    border-radius: 20px;
    color: #DDD;
    text-decoration: none;
    font-size: 16px;
  }

  .b-nav-item_active_yes,
  .b-nav-item:hover {
    color: #FFF;
    background-color: rgba(255,255,255, 0.2);
  }

  .b-nav-item_type_accent {
    background-color: transparent;
    font-size: 20px;
    text-decoration: underline;
  }

}

/**
 * Footer nav
 */
.b-footer {

  .b-nav-item {
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    color: #CCC;
    text-decoration: none;
    font-size: 13px;
    border-left: 1px solid #888;

    &:first-child {
      border-left: none;
    }

  }

  .b-nav-item:hover {
    color: #FFF;
  }

}